*{
    margin: 0;
    padding: 0%;
}
@font-face {
    font-family: kg;
    src: url(kg_ways_to_say_goodbye/KGWaystoSayGoodbye.ttf);
}
#img1{
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: repeat;
}
header{
    height: 120px;
    width: 100%;
    background-color: #EBE8DA;
}
main{
    width: 100%;
    height: auto;
    float: left;
    display: block;
}
#div1{
    float: left;
    margin-top: 20px;
    background-color: darkolivegreen;
    width: 350px;
    border-radius: 30px;
    margin-left: 50px;
}
body{
    background-color: #cac9c3;
}
#spotify1{
    width: 250px;
    height: 350px;
    margin-left: 20px;
    margin-top: 70px;
    border-radius: 12px;
    position: absolute;
    display: block;
}

#spotify2{
    width: 250px;
    height: 350px;
    margin-left: 430px;
    margin-top: 70px;
    border-radius: 12px;
    position: absolute;
    display: block;
}
#spotify4{
    width: 250px;
    height: 350px;
    margin-left: 20px;
    margin-top: 400px;
    border-radius: 12px;
    position: absolute;
    display: block;
}
#spotify3{
    width: 250px;
    height: 350px;
    margin-left: 430px;
    margin-top: 400px;
    border-radius: 12px;
    position: absolute;
    display: block;
}
#titulodiv2{
    margin-left: 200px;
    
}
p{
    font-family: kg;
    margin-left: 20px;
    font-size: 15px;
    position: relative;
}
h5{
    font-family: kg;
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    display: block;
}
h1{
    font-family: kg;
    font-size: 40px;
    text-align: center;
    margin: 10px;
    
}
#divmusicas{
    width: 55%;
    float: right;
    margin-top: 20px;
    background-color: darkolivegreen;
    margin-right: 50px;
    height: 650px;
    border-radius: 30px;
}
footer{
    width: 100%;
    height: 300px;
    display: block;
    float: left;
}
.imgsfooter{
    height: 30px;
    width: 30px;
}
.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #305e29;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

